<p><strong>Estadísticas</strong></p>

<p>Preguntas totales: <%= statistics.questions %></p>
<p>Comentatios totales: <%= statistics.comments %></p>
<p>Media de comentarios por preguntas: <%= statistics.median %></p>
<p>Preguntas comentadas: <%= statistics.commenteds %></p>
<p>Preguntas no comentadas: <%= statistics.uncommenteds %></p>
